@using ToDoListBlazor.Controllers
@using ToDoListBlazor.Models
@using ToDoListBlazor.Services
@inject HttpClient Http
@rendermode InteractiveServer
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ToDoListBlazor</a>
    </div>
</div>

<div>
    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable">
        <nav class="flex-column">

            <button @onclick="CreateNewProblem" class="navbutton">Создать новую задачу</button>

            @if (problemList == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                @foreach (var problem in problemList)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@($"/problem?id={problem.Id}")" Match="NavLinkMatch.All">
                            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> @problem.Title
                        </NavLink>
                    </div>
                }
            }

            @code {
                protected List<Problem> problemList = new();
                public ProblemManager pManager = new();

                protected override void OnInitialized()
                {
                    problemList = pManager.GetProblemDetails();
                }
                // protected override async Task OnInitializedAsync()
                // {
                //     await GetProblem();
                // }
                // protected async Task GetProblem()
                // {
                //     // var p = new ProblemController(null);
                //     // await p.Get();
                //     problemList = await Http.GetFromJsonAsync<List<Problem>>("https://localhost:7202/api/Problem/Get");
                // }

                private int problemCount = 1;

                // private List<string> problems = new List<string>();
                private void CreateNewProblem()
                {
                    
                    // problemList.Add(null);
                    // problemCount++;
                }
            }

        </nav>
    </div>
</div>