@rendermode InteractiveServer
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ToDoListBlazor</a>
    </div>
</div>

<div>
    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable">
        <nav class="flex-column">

            <button @onclick="CreateNewTask" class="navbutton">Создать новую задачу</button>
            @foreach (var task in tasks)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@($"?task={task}")" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Задача @task
                    </NavLink>
                </div>
            }

            @code {
                private List<string> tasks = new List<string>();

                private int taskCount = 1;

                private void CreateNewTask()
                {
                    tasks.Add($"{taskCount}");
                    taskCount++;
                }
            }

        </nav>
    </div>
</div>