@page "/add"
@using ToDoListBlazor.Models
@using ToDoListBlazor.Services
@inject NavigationManager NavManager
@rendermode InteractiveServer

<h3>Создать задачу</h3>

<EditForm FormName="ProblemForm" Model="pModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="Title">Title</label>
        <InputText id="Title" @bind-Value="pModel.Title" />
    </div>

    <div>
        <label for="Description">Description</label>
        <InputTextArea id="Description" @bind-Value="pModel.Description" />
    </div>

    <div>
        <label for="Executors">Executors</label>
        <InputText id="Executors" @bind-Value="pModel.Executors" />
    </div>

    <div>
        <label for="PlannedComplexityTime">Planned Complexity Time</label>
        <InputNumber id="PlannedComplexityTime" @bind-Value="pModel.PlannedComplexityTime" />
    </div>

    <div>
        <button type="submit">Create</button>
    </div>
</EditForm>

@code {
    private Problem pModel = new();
    private ProblemManager pManager = new();

    private void HandleValidSubmit()
    {        
        pModel.StartDate = DateTime.Now;
        // var newProblem = new Problem
        // {
        //     Title = pModel.Title,
        //     Description = pModel.Description,
        //     Executors = pModel.Executors,
        //     PlannedComplexityTime = pModel.PlannedComplexityTime,
        //     StartDate = DateTime.Now,
        // };

        pManager.AddProblem(pModel);
    }
}


