@page "/add"
@using ToDoListBlazor.Models
@using ToDoListBlazor.Services
@inject NavigationManager NavManager
@rendermode InteractiveServer

<h3>Создать задачу</h3>

<EditForm FormName="ProblemForm" Model="pModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="Title">Наименование:</label>
        <InputText id="Title" @bind-Value="pModel.Title" />
    </div>

    <div>
        <label for="Description">Описание:</label>
        <InputTextArea id="Description" @bind-Value="pModel.Description" />
    </div>

    <div>
        <label for="Executors">Исполнители:</label>
        <InputTextArea id="Executors" @bind-Value="pModel.Executors" />
    </div>

    <div>
        <label for="PlannedComplexityTime">Плановая трудоемкость задачи:</label>
        <InputNumber id="PlannedComplexityTime" @bind-Value="pModel.PlannedComplexityTime" min="1"/> Дней
    </div>

    <div>
        <button type="submit">Создать</button>
    </div>
</EditForm>

@code {
    private Problem pModel = new();
    private ProblemManager pManager = new();        

    private void HandleValidSubmit()
    {        
        pModel.PlannedComplexityTime = pManager.CalculatePlannedComplexityTime(pModel);        
        pModel.StartDate = DateTime.Now;
        pManager.AddProblem(pModel);
        NavManager.NavigateTo("/", forceLoad: true);
    }
}


