@page "/addsub/{Id}"
@using ToDoListBlazor.Models
@using ToDoListBlazor.Services
@inject NavigationManager NavManager
@rendermode InteractiveServer

<h3>Создать Подзадачу</h3>

<EditForm FormName="ProblemForm" Model="pModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Подзадача для задачи: @mainProblem.Title</label>
    </div>

    <div>
        <label for="Title">Наименование:</label>
        <InputText id="Title" @bind-Value="pModel.Title" />
    </div>

    <div>
        <label for="Description">Описание:</label>
        <InputTextArea id="Description" @bind-Value="pModel.Description" />
    </div>

    <div>
        <label for="Executors">Исполнители:</label>
        <InputTextArea id="Executors" @bind-Value="pModel.Executors" />
    </div>

    <div>
        <label for="PlannedComplexityTime">Плановая трудоемкость задачи:</label>
        <InputNumber id="PlannedComplexityTime" @bind-Value="pModel.PlannedComplexityTime" min="1" /> Дней
    </div>

    <div>
        <button type="submit">Создать</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }

    private Problem pModel = new();
    private Problem mainProblem = new();
    private ProblemManager pManager = new();

    protected override void OnInitialized()
    {
        mainProblem = pManager.GetProblemData(int.Parse(Id));
    }



    private void HandleValidSubmit()
    {
        pModel.StartDate = DateTime.Now;

        pManager.AddSubProblem(mainProblem, pModel);

        // mainProblem = pManager.GetProblemData(mainProblem.Id);
        // mainProblem.PlannedComplexityTime += pManager.CalculatePlannedComplexityTime(mainProblem);

        // pManager.UpdateProblemDetails(mainProblem);

        NavManager.NavigateTo("/", forceLoad: true);
    }
}



