@page "/"
@inject NavigationManager NavManager

<PageTitle>Home</PageTitle>

@code {
    private string task;

    protected override void OnInitialized()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("task", out var taskValue))
        {
            task = taskValue.First();
        }
    }
}

@if (!string.IsNullOrEmpty(task))
{
    <p>Задача: @task</p>
}

