@page "/update/{Id}"
@using ToDoListBlazor.Models
@using ToDoListBlazor.Services
@inject NavigationManager NavManager
@rendermode InteractiveServer

<h3>Изменить задачу</h3>

<EditForm FormName="ProblemForm" Model="pModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="Title">Title</label>
        <InputText id="Title" @bind-Value="pModel.Title" />
    </div>

    <div>
        <label for="Description">Description</label>
        <InputTextArea id="Description" @bind-Value="pModel.Description" />
    </div>

    <div>
        <label for="Executors">Executors</label>
        <InputText id="Executors" @bind-Value="pModel.Executors" />
    </div>

    <div>
        <label for="Status">Status</label>
        <InputSelect id="Status" @bind-Value="pModel.Status">
            @foreach (var status in availableStatuses)
            {
                <option value="@status">@status</option>
            }
        </InputSelect>
    </div>

    <div>
        <label for="PlannedComplexityTime">Planned Complexity Time</label>
        <InputNumber id="PlannedComplexityTime" @bind-Value="pModel.PlannedComplexityTime" />
    </div>

    <div>
        <button type="submit">Update</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }

    private char separator = '|';

    private Problem pModel = new();
    private ProblemManager pManager = new();

    List<ProblemStatus> availableStatuses;

    protected override void OnInitialized()
    {
        pModel = pManager.GetProblemData(int.Parse(Id));

        availableStatuses = new List<ProblemStatus> { pModel.Status };

        if (pModel.Status == ProblemStatus.CREATED)
        {
            availableStatuses.Add(ProblemStatus.PROCESSING);
        }
        else if (pModel.Status == ProblemStatus.PROCESSING)
        {
            availableStatuses.Add(ProblemStatus.PAUSED);
        }
        else if (pModel.Status == ProblemStatus.PAUSED)
        {
            availableStatuses.Add(ProblemStatus.DONE);
        }
    }

    private void DoneAllSubProblems(Problem problem)
    {
        if (!string.IsNullOrEmpty(problem.SubProblemsId))
        {
            IEnumerable<int> subProblemIds = null;

            if (problem.SubProblemsId.Contains(separator))
            {
                subProblemIds = problem.SubProblemsId.Split(separator).Select(int.Parse);
            }
            else
            {
                subProblemIds = Enumerable.Repeat(int.Parse(problem.SubProblemsId), 1);
            }

            var subProblems = subProblemIds.Select(id => pManager.GetProblemData(id))
                               .Where(subProblem => subProblem != null)
                               .ToList();
            foreach (var subProblem in subProblems)
            {
                subProblem.FinishDate = DateTime.Now;
                subProblem.FactTime = subProblem.FinishDate - subProblem.StartDate;
                subProblem.Status = ProblemStatus.DONE;

                DoneAllSubProblems(subProblem);
            }
        }
    }

    private void HandleValidSubmit()
    {

        if (pModel.Status == ProblemStatus.DONE)
        {
            pModel.FinishDate = DateTime.Now;
            pModel.FactTime = pModel.FinishDate - pModel.StartDate;

            DoneAllSubProblems(pModel);            
        }
        pManager.UpdateProblemDetails(pModel);

        NavManager.NavigateTo("/");
    }
}



